* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image:url('../img/fundo.png');
    background-size: auto 200vh;
    font-family: arial;
    height: 100vw
}
/*se tiver pelomenos 400px ira executar o codigo no bloco*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1300px) {
  body {
    font-size: 20px;
  }
}
  
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  background-color: red;
  position: fixed;
  width: 100vw;
  top: 0;
}
  
.menu li{
    list-style: none;
  }
  
.menu ul{
  display: flex;
  justify-content: space-around;
}
  
.menu a {
  color: white;
  display: block;
  padding: 20px 30px;
  font-style: italic;
  font-family:Arial;
  color:  white;
  text-decoration: none;
  transition: background-color 1s,color 2s;
}

.menu a:active,
.menu a:hover {
  background-color: white;
  color: red;
}

.site-title {
  text-align: center;
  /*text-decoration: underline;*/
  font-size: 3em;
}

.site-subtitle {
  font-style: italic;
  text-align: center;

}

.contato,
.portifolio {
  padding: 2em;
  min-height: 100vh;
}

.contato h2,
.portifolio h2 {
  font-family: 'Source Code Pro', monospace;
  color: black;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portifolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portifolio .grid {
  grid-template-columns: 240px 240px;
  }
}  

@media (min-width: 880px) {
  .portifolio .grid {
  grid-template-columns: repeat(2, 260);
  align-content: center;
  justify-content: center;
  height: calc(100vh - 5.5em - 48px);
  }
} 

.portifolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
}

.contato a {
  color: black;
  font-size: 7em;
  text-decoration: none;
  text-align: center;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 10px 1px 6px rgba(111,111,107,0.65);
  
}
